#create-herd-div {
    text-align: center;
}

#create-herd-btn {
    width: 100%; 
    font-size: 20px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer */
    margin-bottom: -5px;
}