.formPosition {
    align-items: center;
    margin: 0 auto;
    margin-top: 15%;
    max-width: 25%;
}

@media only screen and (max-width: 900px) {
    .formPosition {
        align-items: center;
        margin: 0 auto;
        margin-top: 15%;
        max-width: 80%;
    }
}

.login h1 {
    text-align: center;
}

.login p {
    text-align: center;
}