.container {
   max-width: 20%;
   margin-top: 10%;
}

.btn {
    text-align: center;
    width: 100%;
}

.header {
    text-align: center;
}

p {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .container {
        max-width: 80%;
        margin-top: 25%;
     }
     
     .btn {
         text-align: center;
         width: 100%;
     }
     
     .header {
         text-align: center;
     }
     
     p {
         text-align: center;
     }
}