.nav-bar-container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #02a145;
}

.logo {
    position: absolute
}

.logo p {
    transform: translateY(25%);
    font-size: 18px;
    color: white;
}

.search-bar {
    margin: auto;
    width: 50%;
}

.search-bar input {
    outline: none;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    border: 0;
    box-shadow: 0px 2px 5px 0px #cfcccc;
}

.cards {
    display: flex;
}

.card-margin {
    margin-top: 10px;
    margin-left: 10px;
    border: 1px lightgreen;
    border-style: solid;
}

.defaultCard {
    border-radius: 5px;
    box-shadow: 0 4px 8px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    height: 125px;
    padding: 10px;
    cursor: pointer;
}

.defaultCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.herdCard {
    border-radius: 5px;
    box-shadow: 0 4px 8px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    height: 125px;
    padding: 10px;
}

.herdCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.optionsBtn {
    background-color: white;
    outline: none;
    border: 0;
    float: right;
}

@media only screen and (max-width: 900px) {
    
    .search-bar {
        padding: 10px;
    }
    .search-bar input {
        width: 50%;
        border-radius: 10px;
        padding: 5px;
        border: 0;
        box-shadow: 2px 2px 10px 2px #cfcccc;
    }
}
